/* 1 */
h1{
    text-align: center;
}
/* Divs */
div{
    border: 3px solid black;
    margin: 100px auto;
}

#large {
    width: 500px;
    height: 500px;
}

#medium {
    width: 300px;
    height: 300px:
}

#small {
    width: 100px;
    height: 100px;
}